//globl transition css

/**
fade-enter：进入过渡的开始状态，元素被插入时生效，只应用一帧后立即删除；

fade-enter-active：进入过渡的结束状态，元素被插入时就生效，在过渡过程完成之后移除；

fade-leave：离开过渡的开始状态，元素被删除时触发，只应用一帧后立即删除；

fade-leave-active：离开过渡的结束状态，元素被删除时生效，离开过渡完成之后被删除；
 */

/*fade*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/*fade*/
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}
